<% friends.each do |user| %>
  <div class="friend">
    <div>
      <p><%= user[:name] %></p>
    </div>
    <div>
      <%= button_to "トーク", {:action => "check_room", :id => user[:id]} %>
    </div>
    <div>
      <%= button_to "友だち解除", {:action => "modify", :id => user[:id], :mode => "remove"}, {:remote => true} %>
    </div>
  </div>
<%end%>
