友達一覧

<% @users.each do |user| %>
  <div>
    <div>
      <p><%= user[:name] %></p>
    </div>
    <div>
      <%= button_to "友だちに追加", {:action => "add", :id => user[:id].to_s}, {:remote => true} %>
    </div>
  </div>
<%end%>

