<p>パスワード変更申請 <%= @resource.email %>!</p>

<p>MyLINEアカウントのパスワード変更が申請されました。以下のリンクから手続きを行えます.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>あなたがパスワードの変更申請を行っていない場合は、</p>
<p>このメールを無視して下さい。そのままではパスワードは変更されません。</p>
